extends layout

block content
	.container
		.title.fadeInDown.animated 
			h1 Resolutions
			h2 Post your new year resolutions!
			form(action="submitForm()", method="post")
				.textfield
					input(type="text", name="resolution", class="input", placeholder="I Would Like To...")
				.button
					button Add!